*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    
    }
   .card{
       width: 400px;
       height:200px;
       background-color: #1b244a;
       border-radius: 10px;
       display: flex;
       justify-content: space-around;
       padding-top: 20px;
       padding-left: 0px;
       position: relative;
   } 
   h3{
       color:whitesmoke;
       font-size: 20px;
       font-family:Verdana; 
   }
   .home{
       /* background-color: white; */
       width: 45%;
        height:80%;
       text-align: center;
       position: relative;
   }
   .btn1{
       width:100%;
       margin-top:20px;
}
.btn{
    height: 22px;
    width:40px;
    background-color: transparent;
    border-radius: 5px;
    color:aliceblue;
}
   .guest{
       /* background-color: white; */
       width: 45%;
        height:80%; 
       text-align: center;
   }
   i{
       background-color: black;
       border-radius:50%;
       height:20px;
       width:20px;
       padding:2px;
   }
.display{
    margin-left:auto; 
    margin-right: auto;
    margin-top: 10px;
    height: 60px;
    width:100px;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    color: red;
    border-radius: 10px;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}
.re{
    height:25px;
    width: 60px;
    position: absolute;
    top:80%;
    color: black;
    border-radius:5px;
}